{% extends 'base.html' %}
{% load bootstrap4 i18n %}

{% block content %}
    <h1>{% translate 'Задачи' %}</h1>

    <a class="nav-link" href="{% url 'task_create' %}">
        {% translate 'Создать задачу' %}
    </a>
    
    <form method="get">
        {% bootstrap_form filter.form %}
        <input type="submit" class="btn btn-primary" value="{% translate 'Показать' %}" />
    </form>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>{% translate 'Имя' %}</th>
                <th>{% translate 'Статус' %}</th>
                <th>{% translate 'Автор' %}</th>
                <th>{% translate 'Исполнитель' %}</th>
                <th>{% translate 'Дата создания' %}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            
            {% for task in filter.qs %}
            <tr>
                <td>{{ task.id }}</td>
                <td>
                    <a href="{% url 'task_detail' task.id %}">{{ task.name }}</a>
                </td>
                <td>{{ task.status}}</td>
                <td>{{ task.author.first_name }}
                    {{ task.author.last_name }}
                </td>
                <td>{% if task.executor %}
                    {{ task.executor }}
                    {% endif %}
                </td>
                <td>{{ task.creatad_at|date:"d.m.Y t:m" }}</td>
                <td>
                    <a href="{% url 'task_update' task.id %}">{% translate 'Изменить' %}</a>
                    <br>
                    <a href="{% url 'task_delete' task.id %}">{% translate 'Удалить' %}</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}
    