{% load i18n %}
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">{% translate "Менеджер задач" %}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-1" id="navbarCollapse">
      <ul class="col-8 navbar-nav  mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" 
          href="{% url 'users_list' %}">{% translate "Пользователи" %}</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'status_list' %}">{% translate "Статусы" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'label_list' %}">{% translate "Метки" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'task_list' %}">{% translate "Задачи" %}</a>
        </li>
        {% endif %}
      </ul>
      <ul class="col-4 d-flex justify-content-end align-items-right navbar-nav">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">{{ user.username }}: {% translate "Выход" %}</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">{% translate "Вход" %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'user_create' %}">{% translate "Регистрация" %}</a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>