{% extends 'base.html' %}
{% load i18n %}

{% block content %}

<h1>{% translate 'Пользователи' %}</h1>
<table class="table mt-5">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Имя пользователя</th>
            <th scope="col">Полное имя</th>
            <th scope="col">Дата создания</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for user in object_list %}
        <tr>
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.username}}</td>
            <td>{{ user}}</td>
            <td>{{ user.date_joined|date:"d.m.Y t:m" }}</td>
            <td>
                <a href="{% url 'user_update' user.id %}">Изменить</a> <br>
                <a href="{% url 'user_delete' user.id %}">Удалить</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}